@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.main_header{
  position: absolute;
 background-image: url(./assets/main-assets/header-mobile.svg);
 width: 100vw;
 height: 100vh;
 top: 0px;
 left: 0px;
 background-repeat: no-repeat;
}

.logo{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 12px;
  top: 30px;
  border-radius: 50%;
  background: #4456fb;
}

.logo-main a{
  position: absolute;
  width: 32px;
  height: 21.58px;
  left: 10px;
  top: 17px;
  font-weight: 800;
  font-style: normal;
  line-height: 105.3%;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: border-box;
}

.sub-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-content{
  position: absolute;
    width: 224px;
    height: 32px;
    left: 79px;
    top: 25px;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 338.5%;
    background: border-box;
}

.nav-list{
  list-style: none;
  display: flex;
  background: border-box;
  justify-content: space-between;

  li{
    background: border-box;
    color: #fff;
    font-family: 'Sora', sans-serif;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 338.5%;
  }
}

.nav-list a{
  background: border-box;
}

.main_heading{
  position: absolute;
    font-family: 'Sora', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 105.3%;
    font-style: normal;
    height: 43px;
    left: 28px;
    top: 139px;
    background: border-box;
    color: white;
}
.sub_heading{
  position: absolute;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 105.3%;
    width: 286px;
    height: 29px;
    left: 29px;
    top: 182px;
    background: border-box;
    color: white;
}

.main_para{
  position: absolute;
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 21px;
  height: 76px;
  left: 27px;
  top: 229px;
  background: border-box;
  color: white;
  text-overflow: inherit;
}

.social_links_main{
  height: 104px;
  left: 31px;
  top: 373px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  width: 323px;
}

.my_work_socials{
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
  height: 34px;
  left: 16px;
  top: 12px;
  background: border-box;
  color: #4F5461;
  position: relative;
}

.github{
  position: absolute;
    height: 40px;
    left: 10px;
    top: 43px;
    background-color: #fff;
    border-radius: 20px;
}

.social_links{
  background: border-box;
}

.linkedin{
  position: absolute;
  height: 40px;
  left: 57px;
  top: 41px;
  background: border-box;
  background-color: #fff;
}

.twitter{
  position: absolute;
    height: 40px;
    left: 106px;
    top: 43px;
    background: border-box;
    background-color: #fff;
}

.stack-overflow{
  position: absolute;
  height: 43px;
  left: 145px;
  top: 37px;
  background-color: #fff;
  background: border-box;
}

.medium{
  position: absolute;
  height: 43px;
  left: 194px;
  top: 38px;
  background: border-box;
  background-color: #fff;
}

.angellist{
  position: absolute;
  height: 43px;
  left: 243px;
  top: 38px;
  background-color: #fff;
  background: border-box;
  border-radius: 20px;
}

.portfolio_heading{
  position: absolute;
  height: 29px;
  left: 28px;
  top: 585px;
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-size: 28px;
  line-height: 105.3%;
  color: #4f5461;
}

.project_container1{
  position: relative;
    width: 273px;
    height: 217.24px;
    left: 25px;
    top: 640px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url();
border: 1px solid rgba(0, 0, 0, 0.05);
background-position: center;
object-fit: contain;
box-sizing: border-box;
border-radius: 10px;
}

.project_name{
  position: absolute;
  width: 0px;
  height: 16.09px;
  left: 19px;
  top: 13px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 105.3%;
  color: #fff;
  font-weight: 600;
  font-style: normal;
  z-index: 200;
}

.project_image{
  width: 315px;
  height: 217.24px;
  position: absolute;
  left: 0px;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 10px;
}

.tech_stack_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech_stack_1{
  position: absolute;
  height: 30px;
  left: 25px;
  top: 877px;
  width: 96px;
  background: rgb(79, 84, 97);
  border-radius: 40px;
}

.tech_name{
  font-family: Poppins, sans-serif;
  position: absolute;
  width: 65px;
  height: 20px;
  left: 6px;
  top: 5px;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #e6e9f0;
}

.tech_stack_2{
  position: absolute;
    height: 30px;
    left: 139px;
    top: 877px;
    width: 91px;
    background: rgb(79, 84, 97);
    border-radius: 40px;
}

.tech_name1{
  font-family: Poppins, sans-serif;
  position: absolute;
  width: 65px;
  height: 20px;
  left: 14px;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  top: 6px;
  color: rgb(230, 233, 240);
}

.tech_stack_3{
  position: absolute;
  height: 30px;
  left: 245px;
  top: 877px;
  width: 95px;
  background: rgb(79, 84, 97);
  border-radius: 40px;
}

.tech_name2{
  font-family: Poppins, sans-serif;
  position: absolute;
  width: 90px;
  height: 20px;
  left: 6px;
  font-size: 14px;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  top: 6px;
  color: rgb(230, 233, 240);
}

.see_project_cta{
  position: absolute;
  width: 315px;
  height: 59px;
  left: 27px;
  top: 924px;
  background: rgb(68, 86, 251);
  border-radius: 60px;
}

.cta_text{
  position: absolute;
  width: 254.8px;
  height: 19px;
  left: 30px;
  top: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 105.3%;
  text-align: center;
  color: #fff;
}