@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #E5E5E5;
}

.main_header{
  position: absolute;
 background-image: url(./assets/main-assets/header-mobile.svg);
 width: 100vw;
 height: 100vh;
 top: 0px;
 left: 0px;
 background-repeat: no-repeat;
}

.logo{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 25px;
  top: 31px;
  border-radius: 50%;
  background: #4456fb;
}

.logo-main a{
  position: absolute;
  width: 32px;
  height: 21.58px;
  left: 16px;
  top: 22px;
  font-weight: 800;
  font-style: normal;
  line-height: 105.3%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: border-box;
}

.sub-header{
  display: flex;
  justify-content: center;
  align-items: center;
}